:root {
// Grays
--black: #000;
--darkerGray: #222;
--darkGray: #333;
--gray: #666;
--lightGray: #eee;
--white: #fff;

--opensans: "Open Sans", sans-serif;
}

body {
	background: var(--white);
    font: 17px var(--opensans);
    color: var(--darkGray);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0
}

main {
    flex: 1;
    #border: 5px solid red;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--darkGray);
    font-family: var(--opensans)
    font-weight: bold;

    line-height: 1.7;
    margin: 1em 0 15px;
    padding: 0;

    @include mobile {
        line-height: 1.4;
    }
}

h1 {
    font-size: 26px;
    a {
        color: inherit;
    }
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
    margin: 15px 0 5px 0;
}

h4 {
    font-size: 16px;
    color: var(--gray);
}

p {
    margin: 10px 0;
    //border: 5px solid red;
}

a {
    font-family: var(--opensans);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    &:hover, &:active {
        color: $blue;
    }
}

.pyscript {
    //margin: 0.5rem;
}

html {
    font-size: 100%;
}

nav {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.logo {
    padding-right: 10px;
    font-size: 28px;
    height: 30px;
    max-width: inherit;
}

.title {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 2em;
    white-space: nowrap;
}

.app-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: var(--lightGray);
  flex-shrink: 0;
}

footer {
  padding: 20px 0;
  text-align: center;
  flex-shrink: 0;
}